.Project-section{
    padding: 20px;
    padding-top: 100px;
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    .Project-title{
        text-align: center;

    }
    .Project-work{
       
        display: flex;
        // flex-direction: column;
         justify-content: center;
         align-items: center;
     

       
       
       

    }
  
}