.Test-section{
   
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    padding: 20px;
    padding-top: 100px;
    .Test-title{
        text-align: center;
        padding-bottom: 40px;
    }
}