@import "../../Variable";
@import "../../Mixins";


.Contact-section{
  padding: 20px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .Contact-link{
        display: flex;
        gap: 20px;
        padding-top: 20px;
        font-size: $Font-s-p;
      
        flex-direction: row;

        
       
        .Contact-linke{ 
            text-decoration: none;
            color: $purple-color;
            font-weight: bold;
            transition: color 0.3s;
        

        }
    }

    .Contact-title{
        text-align: center;
        padding-bottom: 70px;
    }

    .contact-form-container {
        width: 350px;
        margin: 70px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      ;
      }
      
      .contact-form-container h2 {
        margin-top: 0;
      }
      
      .contact-form-container form {
        display: flex;
        flex-direction: column;
      }
      
      .contact-form-container label {
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .contact-form-container input,
      .contact-form-container textarea {
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      
      .contact-form-container button {
        padding: 10px;
        background-color: white;
        color: black;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        width: 70px;
      }
      
      .contact-form-container button:hover {
        background-color: #0056b3;
      }
}

@media screen and (min-width: 480px) {
  .Contact-section{
    padding: 20px;
      padding-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      .Contact-link{
          display: flex;
          gap: 20px;
          padding-top: 20px;
        
          flex-direction: row;
  
          
         
          .Contact-linke{ 
              text-decoration: none;
              color: $purple-color;
              font-weight: bold;
              transition: color 0.3s;
          
  
          }
      }
  
      .Contact-title{
          text-align: center;
          padding-bottom: 70px;
      }
  
      .contact-form-container {
          width: 350px;
          margin: 70px auto;
          padding: 20px;
         
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        ;
        }
        
        .contact-form-container h2 {
          margin-top: 0;
        }
        
        .contact-form-container form {
          display: flex;
          flex-direction: column;
        }
        
        .contact-form-container label {
          font-weight: bold;
          margin-bottom: 5px;
        }
        
        .contact-form-container input,
        .contact-form-container textarea {
          margin-bottom: 10px;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
        
        .contact-form-container button {
          padding: 10px;
          background-color: white;
          color: black;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          width: 70px;
        }
        
        .contact-form-container button:hover {
          background-color: #0056b3;
        }
  }

}
@media screen and (min-width: 780px) {
  .Contact-section{
    padding: 20px;
      padding-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 70px;
      .Contact-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
      }
  
      .Contact-link{
          display: flex;
          gap: 20px;
          padding-top: 20px;
        
          flex-direction: row;
  
          
         
          .Contact-linke{ 
              text-decoration: none;
              color: $purple-color;
              font-weight: bold;
              transition: color 0.3s;
          
  
          }
      }
  
      .Contact-title{
          text-align: center;
          padding-bottom: 70px;
      }
  
      .contact-form-container {
          width: 350px;
          margin: 0px auto;
          padding: 20px;
         
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        ;
        }
        
        .contact-form-container h2 {
          margin-top: 0;
        }
        
        .contact-form-container form {
          display: flex;
          flex-direction: column;
        }
        
        .contact-form-container label {
          font-weight: bold;
          margin-bottom: 5px;
        }
        
        .contact-form-container input,
        .contact-form-container textarea {
          margin-bottom: 10px;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
        
        .contact-form-container button {
          padding: 10px;
          background-color: white;
          color: black;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          width: 70px;
        }
        
        .contact-form-container button:hover {
          background-color: #0056b3;
        }
  }

}
@media screen and (min-width: 1024px) {

}