
@font-face {
  font-family:Montserrat;
  src: url(./Montserrat-Regular.ttf);
}

@mixin btn($purple-color:#B15EFF,$width:184px,$height: 58px ){
    width: $width;
    height: $height;
    font-family:Montserrat;
    font-size:16px;
    background-color:$purple-color ;
    border-radius: 15px;
    padding: 8px;
    margin-right: 2px;
}